.label {
    font-size: xx-large;
}

.main {
    padding: 4rem;

    display: flex;
    justify-content: center;
}

.form {
    width: 100%;
    max-width: 800px;
}

.contactContainer {
    flex-direction: column;
    display: flex;
    padding: 24px;
    width: 100%;
}

.contactContainer input, .contactContainer textarea {
    font-size: xx-large;
    padding: 16px;
    margin-top: 16px;
}

.legend {
    font-size: xx-large;
}
.button {
    font-size: xx-large;
    padding: 16px;
    margin-top: 16px;
}