.me {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 1200px;
    margin: 0 auto;

    gap: 64px;

    padding: 64px 32px;
}

.photoMe{
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 16px;
}

/* This section is for responsive design, adjusting the layout for smaller screens */
@media (max-width: 768px) {
    .me {
        flex-direction: column;
    }

    .photoMe {
        max-width: 100%;
        padding: 0;
    }
}

.meContent {
    max-width: 600px;
}

.me h1 {
    font-size: 32px;
}

.privateSession {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.privateSession h2 {
    font-size: 32px;
}

.game h2 {
    font-size: 32px;
}

.link{
    background-color: var(--color-primary);
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    margin-top: 16px;
}

.main p {
    color: var(--color-text);
    font-size: 20px;
}